<meta name="viewport" content="width=device-width" />
<link href='http://fonts.googleapis.com/css?family=Oswald:700' rel='stylesheet' type='text/css'>
<style>
  body { font-family: 'Oswald', sans-serif; text-align: center; }
  header { font-size: 150%; }
  footer { margin-top: 100px; }
  a { text-decoration: none; color: #000; }
</style>
<header><a href="/"><%= lyric %></a></header>
<article><a href="/"><img src="<%= image_url %>" width="300"/></a></article>
<footer>Tap for another lyric from one of the greatest songs of all time.</footer>